@import url("http://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300");

*{
	margin:0;
	padding:0;
	list-style-type:none;
	overflow:hidden;
	border: 0;
}
canvas {
	opacity:1;
	z-index: 100;
}
body {
	--bg-img: url("Content/imgs/1.jpg");
	--bg-size: 100% 100%;
	--bg-repeat: no-repeat;
	--bg-color: #1d1d1d;

	--fg-img: '';
	--fg-size: 100% 100%;
	--fg-repeat: no-repeat;

	--glith_color: rgb(255, 255, 255);
	--glith_pos: 50% 50%;
	--glith_size: 1920px 1080px;
	--digit_size: 1vmax;
	--digit_size1: 0.5vmax;
	--digit_size2: 20vmin;
	--digit_size3: 10vmin;
	--digit_color: rgb(255, 255, 255);
	--digit_blur: rgb(255, 255, 255);
	--slide_size: 86px;
	Background-color: #1d1d1d;
}
video {
	object-fit: cover;
}
.app {
	position: relative;
	width: 100%;
	height: 100vh;
}
.VideoBackground, .Background, .foreground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.Background, .foreground {
	Background-position: center center;
}
.Background {
	Background-color: var(--bg-color);
	Background-image: var(--bg-img);
	Background-size: var(--bg-size);
	Background-repeat: var(--bg-repeat);
	z-index: -1;
}
.foreground {
	Background-image: var(--fg-img);
	Background-size: var(--fg-size);
	Background-repeat: var(--fg-repeat);
	z-index: 900;
}
.module {
	width: 100%;
	top:0;
	left:0;
	text-align:center;
	position:absolute;
	color:#fff;
	text-shadow: 0 0 10px white;
	transform: translate(0%,-50%);
	z-index:90;
	font-family:"苹方","San Francisco Pro","Hiragino Kaku Gothic Std";
	font-size:200px;
	transition: .6s;
}

.Netease {
	width: 100%;
	top:84%;
	left:0%;
	text-align:center;
	position:absolute;
	color:#fff;
	transform: translate(0%,-50%);

	z-index:90;
	font-family:"苹方","San Francisco Pro","Hiragino Kaku Gothic Std";
	font-size:50px;
	transition: .6s;
}

.Lrc0 {
    font-size:25px;
    opacity: 0.3;
}

.Translation0 {
    font-size:16.25px;
    opacity: 0.3;
}

.Lrc1 {
    font-size:35px;
    opacity:0.4;
}

.Translation1 {
    font-size:23px;
    opacity:0.4;
}
.Lrc2 {
    font-size:25px;
    opacity: 0.3;
}

.Translation2 {
    font-size:16.25px;
    opacity: 0.3;
}

.loader, .loader .img, .loader .cycle, .loader .cycle2 {
	position:absolute;
}
.loader, .loader .cycle2 {
	Background: #1d1d1d;
}
.loader, .loader .img{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.loader .cycle, .loader .cycle2 {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	z-index: 99;
}
.loader {
	z-index: 998;
}
.loader .img {
	Background: url(logo.png) center center no-repeat;
	z-index: 999;
	animation: sizes2 .4s linear;
}
.loader .cycle {
	width: 540px;
	height: 540px;
	Background: linear-gradient(165deg, #f1b90f, #e20d7b);
	animation: sizes .4s linear;
}
.loader .cycle2 {
	content: '';
	width: 520px;
	height: 500px;
	border: 5px solid transparent;
	animation:wave 4s linear infinite;
}
@keyframes wave{
	0%{
		transform: translate(-50%, -50%) rotate(0);
	}
	100%{
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
@keyframes sizes{
	0%{
		transform: translate(-50%, -50%) scale(0);
	}
	100%{
		transform: translate(-50%, -50%) scale(1);
	}
}
@keyframes sizes2{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}
#Clock {
	position:absolute;
	top:0;
	left:0;
	text-align:center;
	color:#fff;
	font-family:"苹方","San Francisco Pro","Hiragino Kaku Gothic Std";
	font-size:200px;
	text-shadow: 0 0 10px white;
	z-index:10;
}
#Clock .sec {
	font-size:0.5em;
}
#time {
	position:relative;
}
#Can {
	margin:0;
	padding:0;
	position:absolute;
	left:0;
	top:0;
	z-index:100;
}
#CanLine {
	margin:0;
	padding:0;
	position:absolute;
	left:0;
	top:0;
	z-index:100;
}

.Clock {
	display: block;
	position: absolute;
	z-index: 9;
	width: 720px;
	height: 128px;
	text-align: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	cursor: default;
}
@keyframes is-off {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	56% {
		opacity: 0;
	}
	57% {
		opacity: 0;
	}
	58% {
		opacity: 1;
	}
	71% {
		-webkit-transform: scaleY(1) skewX(0deg);
						transform: scaleY(1) skewX(0deg);
	}
	72% {
		-webkit-transform: scaleY(3) skewX(-60deg);
						transform: scaleY(3) skewX(-60deg);
	}
	73% {
		-webkit-transform: scaleY(1) skewX(0deg);
						transform: scaleY(1) skewX(0deg);
	}
	80% {
		opacity: 1;
	}
	81% {
		opacity: 0;
	}
	84% {
		opacity: 0;
	}
	85% {
		opacity: 1;
	}
	91% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
						transform: scaleX(1) scaleY(1) skewX(0deg);
		color: #fff;
	}
	92% {
		-webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
						transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
		color: #008000;
	}
	93% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
						transform: scaleX(1) scaleY(1) skewX(0deg);
		color: #fff;
	}
}
@keyframes c1 {
	0% {
		clip: rect(53px, 9999px, 33px, 0);
	}
	5% {
		clip: rect(68px, 9999px, 69px, 0);
	}
	10% {
		clip: rect(67px, 9999px, 19px, 0);
	}
	15.000000000000002% {
		clip: rect(12px, 9999px, 11px, 0);
	}
	20% {
		clip: rect(98px, 9999px, 84px, 0);
	}
	25% {
		clip: rect(15px, 9999px, 64px, 0);
	}
	30.000000000000004% {
		clip: rect(24px, 9999px, 48px, 0);
	}
	35.00000000000001% {
		clip: rect(85px, 9999px, 5px, 0);
	}
	40% {
		clip: rect(22px, 9999px, 45px, 0);
	}
	45% {
		clip: rect(50px, 9999px, 96px, 0);
	}
	50% {
		clip: rect(34px, 9999px, 89px, 0);
	}
	55% {
		clip: rect(45px, 9999px, 69px, 0);
	}
	60.00000000000001% {
		clip: rect(53px, 9999px, 92px, 0);
	}
	65% {
		clip: rect(66px, 9999px, 21px, 0);
	}
	70.00000000000001% {
		clip: rect(80px, 9999px, 14px, 0);
	}
	75% {
		clip: rect(70px, 9999px, 91px, 0);
	}
	80% {
		clip: rect(9px, 9999px, 72px, 0);
	}
	85% {
		clip: rect(38px, 9999px, 7px, 0);
	}
	90% {
		clip: rect(60px, 9999px, 30px, 0);
	}
	95% {
		clip: rect(4px, 9999px, 68px, 0);
	}
	100% {
		clip: rect(60px, 9999px, 94px, 0);
	}
}
@keyframes c2 {
	0% {
		clip: rect(57px, 9999px, 78px, 0);
	}
	5% {
		clip: rect(1px, 9999px, 19px, 0);
	}
	10% {
		clip: rect(21px, 9999px, 27px, 0);
	}
	15.000000000000002% {
		clip: rect(68px, 9999px, 28px, 0);
	}
	20% {
		clip: rect(67px, 9999px, 28px, 0);
	}
	25% {
		clip: rect(2px, 9999px, 36px, 0);
	}
	30.000000000000004% {
		clip: rect(55px, 9999px, 47px, 0);
	}
	35.00000000000001% {
		clip: rect(61px, 9999px, 5px, 0);
	}
	40% {
		clip: rect(72px, 9999px, 38px, 0);
	}
	45% {
		clip: rect(91px, 9999px, 10px, 0);
	}
	50% {
		clip: rect(52px, 9999px, 15px, 0);
	}
	55% {
		clip: rect(47px, 9999px, 59px, 0);
	}
	60.00000000000001% {
		clip: rect(24px, 9999px, 13px, 0);
	}
	65% {
		clip: rect(23px, 9999px, 77px, 0);
	}
	70.00000000000001% {
		clip: rect(8px, 9999px, 41px, 0);
	}
	75% {
		clip: rect(47px, 9999px, 39px, 0);
	}
	80% {
		clip: rect(10px, 9999px, 37px, 0);
	}
	85% {
		clip: rect(63px, 9999px, 63px, 0);
	}
	90% {
		clip: rect(47px, 9999px, 72px, 0);
	}
	95% {
		clip: rect(63px, 9999px, 80px, 0);
	}
	100% {
		clip: rect(49px, 9999px, 37px, 0);
	}
	23% {
		-webkit-transform: scaleX(0.8);
						transform: scaleX(0.8);
	}
}
@keyframes Clock-bag {
	0% {
		-webkit-transform: translate(5px, 4px);
						transform: translate(5px, 4px);
	}
	2% {
		-webkit-transform: translate(4px, 3px);
						transform: translate(4px, 3px);
	}
	4% {
		-webkit-transform: translate(4px, 3px);
						transform: translate(4px, 3px);
	}
	6% {
		-webkit-transform: translate(5px, 4px);
						transform: translate(5px, 4px);
	}
	8% {
		-webkit-transform: translate(2px, 5px);
						transform: translate(2px, 5px);
	}
	10% {
		-webkit-transform: translate(1px, 2px);
						transform: translate(1px, 2px);
	}
	12% {
		-webkit-transform: translate(1px, 4px);
						transform: translate(1px, 4px);
	}
	14.000000000000002% {
		-webkit-transform: translate(2px, 3px);
						transform: translate(2px, 3px);
	}
	16% {
		-webkit-transform: translate(1px, 5px);
						transform: translate(1px, 5px);
	}
	18% {
		-webkit-transform: translate(5px, 5px);
						transform: translate(5px, 5px);
	}
	20% {
		-webkit-transform: translate(4px, 5px);
						transform: translate(4px, 5px);
	}
	22% {
		-webkit-transform: translate(3px, 2px);
						transform: translate(3px, 2px);
	}
	24% {
		-webkit-transform: translate(4px, 5px);
						transform: translate(4px, 5px);
	}
	26% {
		-webkit-transform: translate(3px, 3px);
						transform: translate(3px, 3px);
	}
	28.000000000000004% {
		-webkit-transform: translate(3px, 2px);
						transform: translate(3px, 2px);
	}
	30% {
		-webkit-transform: translate(3px, 3px);
						transform: translate(3px, 3px);
	}
	32% {
		-webkit-transform: translate(1px, 4px);
						transform: translate(1px, 4px);
	}
	34% {
		-webkit-transform: translate(3px, 1px);
						transform: translate(3px, 1px);
	}
	36% {
		-webkit-transform: translate(3px, 5px);
						transform: translate(3px, 5px);
	}
	38% {
		-webkit-transform: translate(2px, 3px);
						transform: translate(2px, 3px);
	}
	40% {
		-webkit-transform: translate(2px, 5px);
						transform: translate(2px, 5px);
	}
	42% {
		-webkit-transform: translate(1px, 1px);
						transform: translate(1px, 1px);
	}
	44% {
		-webkit-transform: translate(1px, 5px);
						transform: translate(1px, 5px);
	}
	46.00000000000001% {
		-webkit-transform: translate(1px, 2px);
						transform: translate(1px, 2px);
	}
	48% {
		-webkit-transform: translate(5px, 4px);
						transform: translate(5px, 4px);
	}
	50% {
		-webkit-transform: translate(1px, 1px);
						transform: translate(1px, 1px);
	}
	52% {
		-webkit-transform: translate(1px, 2px);
						transform: translate(1px, 2px);
	}
	54% {
		-webkit-transform: translate(5px, 2px);
						transform: translate(5px, 2px);
	}
	56.00000000000001% {
		-webkit-transform: translate(4px, 3px);
						transform: translate(4px, 3px);
	}
	58% {
		-webkit-transform: translate(3px, 4px);
						transform: translate(3px, 4px);
	}
	60% {
		-webkit-transform: translate(3px, 1px);
						transform: translate(3px, 1px);
	}
	62% {
		-webkit-transform: translate(4px, 4px);
						transform: translate(4px, 4px);
	}
	64% {
		-webkit-transform: translate(3px, 5px);
						transform: translate(3px, 5px);
	}
	66% {
		-webkit-transform: translate(2px, 1px);
						transform: translate(2px, 1px);
	}
	68% {
		-webkit-transform: translate(5px, 1px);
						transform: translate(5px, 1px);
	}
	70.00000000000001% {
		-webkit-transform: translate(3px, 1px);
						transform: translate(3px, 1px);
	}
	72% {
		-webkit-transform: translate(1px, 3px);
						transform: translate(1px, 3px);
	}
	74% {
		-webkit-transform: translate(4px, 1px);
						transform: translate(4px, 1px);
	}
	76% {
		-webkit-transform: translate(4px, 5px);
						transform: translate(4px, 5px);
	}
	78% {
		-webkit-transform: translate(3px, 1px);
						transform: translate(3px, 1px);
	}
	80% {
		-webkit-transform: translate(2px, 4px);
						transform: translate(2px, 4px);
	}
	82.00000000000001% {
		-webkit-transform: translate(3px, 1px);
						transform: translate(3px, 1px);
	}
	84% {
		-webkit-transform: translate(3px, 1px);
						transform: translate(3px, 1px);
	}
	86% {
		-webkit-transform: translate(1px, 3px);
						transform: translate(1px, 3px);
	}
	88% {
		-webkit-transform: translate(2px, 4px);
						transform: translate(2px, 4px);
	}
	90% {
		-webkit-transform: translate(4px, 3px);
						transform: translate(4px, 3px);
	}
	92.00000000000001% {
		-webkit-transform: translate(3px, 3px);
						transform: translate(3px, 3px);
	}
	94% {
		-webkit-transform: translate(2px, 4px);
						transform: translate(2px, 4px);
	}
	96% {
		-webkit-transform: translate(5px, 1px);
						transform: translate(5px, 1px);
	}
	98% {
		-webkit-transform: translate(5px, 3px);
						transform: translate(5px, 3px);
	}
	100% {
		-webkit-transform: translate(3px, 2px);
						transform: translate(3px, 2px);
	}
	1% {
		-webkit-transform: scaleY(1) skewX(0deg);
						transform: scaleY(1) skewX(0deg);
	}
	1.5% {
		-webkit-transform: scaleY(3) skewX(-60deg);
						transform: scaleY(3) skewX(-60deg);
	}
	2% {
		-webkit-transform: scaleY(1) skewX(0deg);
						transform: scaleY(1) skewX(0deg);
	}
	51% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
						transform: scaleX(1) scaleY(1) skewX(0deg);
	}
	52% {
		-webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
						transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
	}
	53% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
						transform: scaleX(1) scaleY(1) skewX(0deg);
	}
}
@keyframes tr-bag {
	0% {
		-webkit-transform: translate(5px, 4px);
						transform: translate(5px, 4px);
	}
	2% {
		-webkit-transform: translate(2px, 2px);
						transform: translate(2px, 2px);
	}
	4% {
		-webkit-transform: translate(5px, 4px);
						transform: translate(5px, 4px);
	}
	6% {
		-webkit-transform: translate(3px, 2px);
						transform: translate(3px, 2px);
	}
	8% {
		-webkit-transform: translate(1px, 1px);
						transform: translate(1px, 1px);
	}
	10% {
		-webkit-transform: translate(4px, 3px);
						transform: translate(4px, 3px);
	}
	12% {
		-webkit-transform: translate(4px, 4px);
						transform: translate(4px, 4px);
	}
	14.000000000000002% {
		-webkit-transform: translate(2px, 1px);
						transform: translate(2px, 1px);
	}
	16% {
		-webkit-transform: translate(3px, 2px);
						transform: translate(3px, 2px);
	}
	18% {
		-webkit-transform: translate(3px, 4px);
						transform: translate(3px, 4px);
	}
	20% {
		-webkit-transform: translate(4px, 1px);
						transform: translate(4px, 1px);
	}
	22% {
		-webkit-transform: translate(5px, 5px);
						transform: translate(5px, 5px);
	}
	24% {
		-webkit-transform: translate(3px, 4px);
						transform: translate(3px, 4px);
	}
	26% {
		-webkit-transform: translate(2px, 3px);
						transform: translate(2px, 3px);
	}
	28.000000000000004% {
		-webkit-transform: translate(3px, 3px);
						transform: translate(3px, 3px);
	}
	30% {
		-webkit-transform: translate(5px, 1px);
						transform: translate(5px, 1px);
	}
	32% {
		-webkit-transform: translate(5px, 1px);
						transform: translate(5px, 1px);
	}
	34% {
		-webkit-transform: translate(5px, 2px);
						transform: translate(5px, 2px);
	}
	36% {
		-webkit-transform: translate(4px, 2px);
						transform: translate(4px, 2px);
	}
	38% {
		-webkit-transform: translate(3px, 2px);
						transform: translate(3px, 2px);
	}
	40% {
		-webkit-transform: translate(5px, 4px);
						transform: translate(5px, 4px);
	}
	42% {
		-webkit-transform: translate(5px, 3px);
						transform: translate(5px, 3px);
	}
	44% {
		-webkit-transform: translate(5px, 5px);
						transform: translate(5px, 5px);
	}
	46.00000000000001% {
		-webkit-transform: translate(1px, 2px);
						transform: translate(1px, 2px);
	}
	48% {
		-webkit-transform: translate(5px, 5px);
						transform: translate(5px, 5px);
	}
	50% {
		-webkit-transform: translate(4px, 3px);
						transform: translate(4px, 3px);
	}
	52% {
		-webkit-transform: translate(2px, 4px);
						transform: translate(2px, 4px);
	}
	54% {
		-webkit-transform: translate(1px, 2px);
						transform: translate(1px, 2px);
	}
	56.00000000000001% {
		-webkit-transform: translate(1px, 5px);
						transform: translate(1px, 5px);
	}
	58% {
		-webkit-transform: translate(2px, 4px);
						transform: translate(2px, 4px);
	}
	60% {
		-webkit-transform: translate(1px, 4px);
						transform: translate(1px, 4px);
	}
	62% {
		-webkit-transform: translate(2px, 4px);
						transform: translate(2px, 4px);
	}
	64% {
		-webkit-transform: translate(2px, 4px);
						transform: translate(2px, 4px);
	}
	66% {
		-webkit-transform: translate(1px, 4px);
						transform: translate(1px, 4px);
	}
	68% {
		-webkit-transform: translate(2px, 3px);
						transform: translate(2px, 3px);
	}
	70.00000000000001% {
		-webkit-transform: translate(4px, 3px);
						transform: translate(4px, 3px);
	}
	72% {
		-webkit-transform: translate(4px, 5px);
						transform: translate(4px, 5px);
	}
	74% {
		-webkit-transform: translate(1px, 2px);
						transform: translate(1px, 2px);
	}
	76% {
		-webkit-transform: translate(1px, 5px);
						transform: translate(1px, 5px);
	}
	78% {
		-webkit-transform: translate(4px, 2px);
						transform: translate(4px, 2px);
	}
	80% {
		-webkit-transform: translate(4px, 1px);
						transform: translate(4px, 1px);
	}
	82.00000000000001% {
		-webkit-transform: translate(4px, 4px);
						transform: translate(4px, 4px);
	}
	84% {
		-webkit-transform: translate(5px, 2px);
						transform: translate(5px, 2px);
	}
	86% {
		-webkit-transform: translate(2px, 5px);
						transform: translate(2px, 5px);
	}
	88% {
		-webkit-transform: translate(2px, 2px);
						transform: translate(2px, 2px);
	}
	90% {
		-webkit-transform: translate(5px, 3px);
						transform: translate(5px, 3px);
	}
	92.00000000000001% {
		-webkit-transform: translate(1px, 1px);
						transform: translate(1px, 1px);
	}
	94% {
		-webkit-transform: translate(3px, 2px);
						transform: translate(3px, 2px);
	}
	96% {
		-webkit-transform: translate(4px, 4px);
						transform: translate(4px, 4px);
	}
	98% {
		-webkit-transform: translate(3px, 3px);
						transform: translate(3px, 3px);
	}
	100% {
		-webkit-transform: translate(1px, 3px);
						transform: translate(1px, 3px);
	}
	1% {
		-webkit-transform: scaleY(1) skewX(0deg);
						transform: scaleY(1) skewX(0deg);
	}
	1.5% {
		-webkit-transform: scaleY(3) skewX(-60deg);
						transform: scaleY(3) skewX(-60deg);
	}
	2% {
		-webkit-transform: scaleY(1) skewX(0deg);
						transform: scaleY(1) skewX(0deg);
	}
	51% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
						transform: scaleX(1) scaleY(1) skewX(0deg);
	}
	52% {
		-webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
						transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
	}
	53% {
		-webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
						transform: scaleX(1) scaleY(1) skewX(0deg);
	}
}
* {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}
.digit {
	height: var(--digit_size2);
	width: var(--digit_size3);
	margin: 0 1rem;
}
.digit:nth-child(2), .digit:nth-child(4) {
	margin-right: 3vmax;
}
.digit:nth-child(2):before, .digit:nth-child(2):after, .digit:nth-child(4):before, .digit:nth-child(4):after {
	content: '';
	Background: var(--digit_color);
	display: block;
	position: absolute;
	text-align: center;
	width: var(--digit_size1);
	height: var(--digit_size1);
	left: calc(100% + 2vmax);
	box-shadow: 0 0 1rem var(--digit_blur), inset 0 0 0.25vmax var(--digit_blur);
	font-size: 8vmax;
	text-shadow: 0 0 1rem var(--digit_blur);
	-webkit-animation: pulse 1s alternate cubic-bezier(0.5, 0, 0.5, 1) infinite;
					animation: pulse 1s alternate cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.digit:nth-child(2):before, .digit:nth-child(4):before {
	top: 30%;
}
.digit:nth-child(2):after, .digit:nth-child(4):after {
	bottom: 30%;
}

@keyframes pulse {
	to {
		opacity: 0.5;
	}
}
[data-hours^="0"] .digit:nth-child(1) :nth-child(4):before, [data-hours^="0"] .digit:nth-child(1) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-hours$="0"] .digit:nth-child(2) :nth-child(4):before, [data-hours$="0"] .digit:nth-child(2) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes^="0"] .digit:nth-child(3) :nth-child(4):before, [data-minutes^="0"] .digit:nth-child(3) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes$="0"] .digit:nth-child(4) :nth-child(4):before, [data-minutes$="0"] .digit:nth-child(4) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds^="0"] .digit:nth-child(5) :nth-child(4):before, [data-seconds^="0"] .digit:nth-child(5) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds$="0"] .digit:nth-child(6) :nth-child(4):before, [data-seconds$="0"] .digit:nth-child(6) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-hours^="1"] .digit:nth-child(1) :nth-child(1):before, [data-hours^="1"] .digit:nth-child(1) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours^="1"] .digit:nth-child(1) :nth-child(2):before, [data-hours^="1"] .digit:nth-child(1) :nth-child(2):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours^="1"] .digit:nth-child(1) :nth-child(4):before, [data-hours^="1"] .digit:nth-child(1) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours^="1"] .digit:nth-child(1) :nth-child(5):before, [data-hours^="1"] .digit:nth-child(1) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours^="1"] .digit:nth-child(1) :nth-child(6):before, [data-hours^="1"] .digit:nth-child(1) :nth-child(6):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-hours$="1"] .digit:nth-child(2) :nth-child(1):before, [data-hours$="1"] .digit:nth-child(2) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours$="1"] .digit:nth-child(2) :nth-child(2):before, [data-hours$="1"] .digit:nth-child(2) :nth-child(2):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours$="1"] .digit:nth-child(2) :nth-child(4):before, [data-hours$="1"] .digit:nth-child(2) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours$="1"] .digit:nth-child(2) :nth-child(5):before, [data-hours$="1"] .digit:nth-child(2) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours$="1"] .digit:nth-child(2) :nth-child(6):before, [data-hours$="1"] .digit:nth-child(2) :nth-child(6):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes^="1"] .digit:nth-child(3) :nth-child(1):before, [data-minutes^="1"] .digit:nth-child(3) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes^="1"] .digit:nth-child(3) :nth-child(2):before, [data-minutes^="1"] .digit:nth-child(3) :nth-child(2):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes^="1"] .digit:nth-child(3) :nth-child(4):before, [data-minutes^="1"] .digit:nth-child(3) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes^="1"] .digit:nth-child(3) :nth-child(5):before, [data-minutes^="1"] .digit:nth-child(3) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes^="1"] .digit:nth-child(3) :nth-child(6):before, [data-minutes^="1"] .digit:nth-child(3) :nth-child(6):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes$="1"] .digit:nth-child(4) :nth-child(1):before, [data-minutes$="1"] .digit:nth-child(4) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes$="1"] .digit:nth-child(4) :nth-child(2):before, [data-minutes$="1"] .digit:nth-child(4) :nth-child(2):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes$="1"] .digit:nth-child(4) :nth-child(4):before, [data-minutes$="1"] .digit:nth-child(4) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes$="1"] .digit:nth-child(4) :nth-child(5):before, [data-minutes$="1"] .digit:nth-child(4) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes$="1"] .digit:nth-child(4) :nth-child(6):before, [data-minutes$="1"] .digit:nth-child(4) :nth-child(6):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds^="1"] .digit:nth-child(5) :nth-child(1):before, [data-seconds^="1"] .digit:nth-child(5) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds^="1"] .digit:nth-child(5) :nth-child(2):before, [data-seconds^="1"] .digit:nth-child(5) :nth-child(2):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds^="1"] .digit:nth-child(5) :nth-child(4):before, [data-seconds^="1"] .digit:nth-child(5) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds^="1"] .digit:nth-child(5) :nth-child(5):before, [data-seconds^="1"] .digit:nth-child(5) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds^="1"] .digit:nth-child(5) :nth-child(6):before, [data-seconds^="1"] .digit:nth-child(5) :nth-child(6):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds$="1"] .digit:nth-child(6) :nth-child(1):before, [data-seconds$="1"] .digit:nth-child(6) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds$="1"] .digit:nth-child(6) :nth-child(2):before, [data-seconds$="1"] .digit:nth-child(6) :nth-child(2):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds$="1"] .digit:nth-child(6) :nth-child(4):before, [data-seconds$="1"] .digit:nth-child(6) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds$="1"] .digit:nth-child(6) :nth-child(5):before, [data-seconds$="1"] .digit:nth-child(6) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds$="1"] .digit:nth-child(6) :nth-child(6):before, [data-seconds$="1"] .digit:nth-child(6) :nth-child(6):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-hours^="2"] .digit:nth-child(1) :nth-child(1):before, [data-hours^="2"] .digit:nth-child(1) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours^="2"] .digit:nth-child(1) :nth-child(7):before, [data-hours^="2"] .digit:nth-child(1) :nth-child(7):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-hours$="2"] .digit:nth-child(2) :nth-child(1):before, [data-hours$="2"] .digit:nth-child(2) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours$="2"] .digit:nth-child(2) :nth-child(7):before, [data-hours$="2"] .digit:nth-child(2) :nth-child(7):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes^="2"] .digit:nth-child(3) :nth-child(1):before, [data-minutes^="2"] .digit:nth-child(3) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes^="2"] .digit:nth-child(3) :nth-child(7):before, [data-minutes^="2"] .digit:nth-child(3) :nth-child(7):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes$="2"] .digit:nth-child(4) :nth-child(1):before, [data-minutes$="2"] .digit:nth-child(4) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes$="2"] .digit:nth-child(4) :nth-child(7):before, [data-minutes$="2"] .digit:nth-child(4) :nth-child(7):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds^="2"] .digit:nth-child(5) :nth-child(1):before, [data-seconds^="2"] .digit:nth-child(5) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds^="2"] .digit:nth-child(5) :nth-child(7):before, [data-seconds^="2"] .digit:nth-child(5) :nth-child(7):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds$="2"] .digit:nth-child(6) :nth-child(1):before, [data-seconds$="2"] .digit:nth-child(6) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds$="2"] .digit:nth-child(6) :nth-child(7):before, [data-seconds$="2"] .digit:nth-child(6) :nth-child(7):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-hours$="3"] .digit:nth-child(2) :nth-child(1):before, [data-hours$="3"] .digit:nth-child(2) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours$="3"] .digit:nth-child(2) :nth-child(5):before, [data-hours$="3"] .digit:nth-child(2) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes^="3"] .digit:nth-child(3) :nth-child(1):before, [data-minutes^="3"] .digit:nth-child(3) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes^="3"] .digit:nth-child(3) :nth-child(5):before, [data-minutes^="3"] .digit:nth-child(3) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes$="3"] .digit:nth-child(4) :nth-child(1):before, [data-minutes$="3"] .digit:nth-child(4) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes$="3"] .digit:nth-child(4) :nth-child(5):before, [data-minutes$="3"] .digit:nth-child(4) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds^="3"] .digit:nth-child(5) :nth-child(1):before, [data-seconds^="3"] .digit:nth-child(5) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds^="3"] .digit:nth-child(5) :nth-child(5):before, [data-seconds^="3"] .digit:nth-child(5) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds$="3"] .digit:nth-child(6) :nth-child(1):before, [data-seconds$="3"] .digit:nth-child(6) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds$="3"] .digit:nth-child(6) :nth-child(5):before, [data-seconds$="3"] .digit:nth-child(6) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-hours$="4"] .digit:nth-child(2) :nth-child(2):before, [data-hours$="4"] .digit:nth-child(2) :nth-child(2):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours$="4"] .digit:nth-child(2) :nth-child(5):before, [data-hours$="4"] .digit:nth-child(2) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours$="4"] .digit:nth-child(2) :nth-child(6):before, [data-hours$="4"] .digit:nth-child(2) :nth-child(6):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes^="4"] .digit:nth-child(3) :nth-child(2):before, [data-minutes^="4"] .digit:nth-child(3) :nth-child(2):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes^="4"] .digit:nth-child(3) :nth-child(5):before, [data-minutes^="4"] .digit:nth-child(3) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes^="4"] .digit:nth-child(3) :nth-child(6):before, [data-minutes^="4"] .digit:nth-child(3) :nth-child(6):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes$="4"] .digit:nth-child(4) :nth-child(2):before, [data-minutes$="4"] .digit:nth-child(4) :nth-child(2):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes$="4"] .digit:nth-child(4) :nth-child(5):before, [data-minutes$="4"] .digit:nth-child(4) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes$="4"] .digit:nth-child(4) :nth-child(6):before, [data-minutes$="4"] .digit:nth-child(4) :nth-child(6):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds^="4"] .digit:nth-child(5) :nth-child(2):before, [data-seconds^="4"] .digit:nth-child(5) :nth-child(2):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds^="4"] .digit:nth-child(5) :nth-child(5):before, [data-seconds^="4"] .digit:nth-child(5) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds^="4"] .digit:nth-child(5) :nth-child(6):before, [data-seconds^="4"] .digit:nth-child(5) :nth-child(6):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds$="4"] .digit:nth-child(6) :nth-child(2):before, [data-seconds$="4"] .digit:nth-child(6) :nth-child(2):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds$="4"] .digit:nth-child(6) :nth-child(5):before, [data-seconds$="4"] .digit:nth-child(6) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds$="4"] .digit:nth-child(6) :nth-child(6):before, [data-seconds$="4"] .digit:nth-child(6) :nth-child(6):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-hours$="5"] .digit:nth-child(2) :nth-child(3):before, [data-hours$="5"] .digit:nth-child(2) :nth-child(3):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours$="5"] .digit:nth-child(2) :nth-child(5):before, [data-hours$="5"] .digit:nth-child(2) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes^="5"] .digit:nth-child(3) :nth-child(3):before, [data-minutes^="5"] .digit:nth-child(3) :nth-child(3):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes^="5"] .digit:nth-child(3) :nth-child(5):before, [data-minutes^="5"] .digit:nth-child(3) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes$="5"] .digit:nth-child(4) :nth-child(3):before, [data-minutes$="5"] .digit:nth-child(4) :nth-child(3):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes$="5"] .digit:nth-child(4) :nth-child(5):before, [data-minutes$="5"] .digit:nth-child(4) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds^="5"] .digit:nth-child(5) :nth-child(3):before, [data-seconds^="5"] .digit:nth-child(5) :nth-child(3):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds^="5"] .digit:nth-child(5) :nth-child(5):before, [data-seconds^="5"] .digit:nth-child(5) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds$="5"] .digit:nth-child(6) :nth-child(3):before, [data-seconds$="5"] .digit:nth-child(6) :nth-child(3):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds$="5"] .digit:nth-child(6) :nth-child(5):before, [data-seconds$="5"] .digit:nth-child(6) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-hours$="6"] .digit:nth-child(2) :nth-child(3):before, [data-hours$="6"] .digit:nth-child(2) :nth-child(3):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes^="6"] .digit:nth-child(3) :nth-child(3):before, [data-minutes^="6"] .digit:nth-child(3) :nth-child(3):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes$="6"] .digit:nth-child(4) :nth-child(3):before, [data-minutes$="6"] .digit:nth-child(4) :nth-child(3):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds^="6"] .digit:nth-child(5) :nth-child(3):before, [data-seconds^="6"] .digit:nth-child(5) :nth-child(3):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds$="6"] .digit:nth-child(6) :nth-child(3):before, [data-seconds$="6"] .digit:nth-child(6) :nth-child(3):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-hours$="7"] .digit:nth-child(2) :nth-child(1):before, [data-hours$="7"] .digit:nth-child(2) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours$="7"] .digit:nth-child(2) :nth-child(4):before, [data-hours$="7"] .digit:nth-child(2) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours$="7"] .digit:nth-child(2) :nth-child(5):before, [data-hours$="7"] .digit:nth-child(2) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-hours$="7"] .digit:nth-child(2) :nth-child(6):before, [data-hours$="7"] .digit:nth-child(2) :nth-child(6):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes^="7"] .digit:nth-child(3) :nth-child(1):before, [data-minutes^="7"] .digit:nth-child(3) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes^="7"] .digit:nth-child(3) :nth-child(4):before, [data-minutes^="7"] .digit:nth-child(3) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes^="7"] .digit:nth-child(3) :nth-child(5):before, [data-minutes^="7"] .digit:nth-child(3) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes^="7"] .digit:nth-child(3) :nth-child(6):before, [data-minutes^="7"] .digit:nth-child(3) :nth-child(6):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes$="7"] .digit:nth-child(4) :nth-child(1):before, [data-minutes$="7"] .digit:nth-child(4) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes$="7"] .digit:nth-child(4) :nth-child(4):before, [data-minutes$="7"] .digit:nth-child(4) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes$="7"] .digit:nth-child(4) :nth-child(5):before, [data-minutes$="7"] .digit:nth-child(4) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-minutes$="7"] .digit:nth-child(4) :nth-child(6):before, [data-minutes$="7"] .digit:nth-child(4) :nth-child(6):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds^="7"] .digit:nth-child(5) :nth-child(1):before, [data-seconds^="7"] .digit:nth-child(5) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds^="7"] .digit:nth-child(5) :nth-child(4):before, [data-seconds^="7"] .digit:nth-child(5) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds^="7"] .digit:nth-child(5) :nth-child(5):before, [data-seconds^="7"] .digit:nth-child(5) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds^="7"] .digit:nth-child(5) :nth-child(6):before, [data-seconds^="7"] .digit:nth-child(5) :nth-child(6):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds$="7"] .digit:nth-child(6) :nth-child(1):before, [data-seconds$="7"] .digit:nth-child(6) :nth-child(1):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds$="7"] .digit:nth-child(6) :nth-child(4):before, [data-seconds$="7"] .digit:nth-child(6) :nth-child(4):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds$="7"] .digit:nth-child(6) :nth-child(5):before, [data-seconds$="7"] .digit:nth-child(6) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}
[data-seconds$="7"] .digit:nth-child(6) :nth-child(6):before, [data-seconds$="7"] .digit:nth-child(6) :nth-child(6):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-hours$="9"] .digit:nth-child(2) :nth-child(5):before, [data-hours$="9"] .digit:nth-child(2) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes^="9"] .digit:nth-child(3) :nth-child(5):before, [data-minutes^="9"] .digit:nth-child(3) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-minutes$="9"] .digit:nth-child(4) :nth-child(5):before, [data-minutes$="9"] .digit:nth-child(4) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds^="9"] .digit:nth-child(5) :nth-child(5):before, [data-seconds^="9"] .digit:nth-child(5) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

[data-seconds$="9"] .digit:nth-child(6) :nth-child(5):before, [data-seconds$="9"] .digit:nth-child(6) :nth-child(5):after {
	opacity: 0;
	-webkit-transform: translateZ(-2vmax);
					transform: translateZ(-2vmax);
}

.line {
	position: absolute;
	-webkit-transform-style: preserve-3d;
					transform-style: preserve-3d;
	-webkit-perspective: 1000px;
					perspective: 1000px;
}
.line:before, .line:after {
	content: '';
	display: block;
	position: absolute;
	color: var(--digit_blur);
	Background: var(--digit_color);
	transition: all 0.9s cubic-bezier(0.5, 0, 0.5, 1);
	border-radius: 1ch;
	box-shadow: 0 0 1rem var(--digit_blur);
}
.line:nth-child(2n - 1) {
	height: 50%;
	width: var(--digit_size);
}
.line:nth-child(2n - 1):before, .line:nth-child(2n - 1):after {
	height: calc(50% - 0.25vmin);
	width: 100%;
}
.line:nth-child(2n - 1):before {
	top: 0.25vmin;
	-webkit-transform-origin: center top;
					transform-origin: center top;
}
.line:nth-child(2n - 1):after {
	bottom: 0.25vmin;
	-webkit-transform-origin: center bottom;
					transform-origin: center bottom;
}
.line:nth-child(2n) {
	width: 100%;
	height: var(--digit_size);
}
.line:nth-child(2n):before, .line:nth-child(2n):after {
	height: 100%;
	width: calc(50% - 0.25vmin);
}
.line:nth-child(2n):before {
	left: 0.25vmin;
	-webkit-transform-origin: left center;
					transform-origin: left center;
}
.line:nth-child(2n):after {
	right: 0.25vmin;
	-webkit-transform-origin: right center;
					transform-origin: right center;
}
.line:nth-child(1) {
	top: 0;
	left: 0;
}
.line:nth-child(2) {
	top: 0;
	left: 0;
}
.line:nth-child(3) {
	top: 0;
	right: 0;
}
.line:nth-child(4) {
	top: 50%;
	left: 0;
}
.line:nth-child(5) {
	top: 50%;
	left: 0;
}
.line:nth-child(6) {
	bottom: 0;
	left: 0;
}
.line:nth-child(7) {
	top: 50%;
	right: 0;
}
#Monstercat {
		display: none;
		position: fixed;
		top: 0px;
		left: 0px;
}
